.layui-icon {
    margin-right: 8px;
    margin-left: 20px;
    font-size: 18px;
  }

  .layui-footer {
    text-align: center;
    font-size: 12px;
  }

  .layui-nav-tree .layui-nav-child dd {
      padding-left: 20px;
  }